   
    
.container {
    width: 100vh;
    margin-top: 30px;
    
  }

.box {
    width: 162px;
    height: 162px;
    margin: 5px;
    background-color: aquamarine;
  }
    
  body{
    background-color: rgb(14, 88, 88);
    color: white;
  }  
  
  
  .FizzBuzz {
    background-color: #6c1025;
    
  }
  
  .Buzz {
    background-color: rgb(155, 155, 49)
  }
  
  .Fizz {
    background-color: blue;
    
  }
  